/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

.link {
    stroke: #aaa;
}

.link.bidirectional {
    stroke: #2074ff;
}

marker#arrow {
    fill: #303030;
}

.node text {
    /*stroke: #333;*/
    cursor: pointer;
}

.node circle {
    cursor: move;
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}

.node .fixed {
  fill: #2074ff;
}
