/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

.link {
    stroke: #aaa;
}

.node text {
    stroke: #333;
    cursor: pointer;
}

.node circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}
