{% extends 'layouts/form.html' %}
{% block title %}
    {{ form.character.name if form.character.name != None else 'New Character' }}
{% endblock %}
{% block content %}

    <form method="post" class="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="col-md-12">
            <fieldset>
                <legend>
                    Character Information
                    <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>
                </legend>
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">{{ form.name.label.text }}</label>
                        {{ form.name(class_ = 'form-control first-input', placeholder = 'Enter a name for this character', required = true, autofocus = true) }}
                    </div>
                    <div class="col-md-6">
                        <label for="short_description">{{ form.short_description.label.text }}</label>
                        {{ form.short_description(class_ = 'form-control', placeholder = 'Enter a short description for this character', required = true) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span class="sr-only">Error:</span>
                                {% for error in form.name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="description">{{ form.description.label.text }}</label>
                        {{ form.description(class_ = 'form-control last-input', placeholder = 'Enter the full description for this character', required = true) }}
                    </div>
                </div>
            </fieldset>
        </div>

        {% if character_count %}
            <div class="col-md-12">
                <fieldset>
                    <div class="row" id="relationship-header">
                        <div class="col-md-2">
                            <legend>Relationships</legend>
                        </div>

                        <div class="col-md-10">
                            <button type="button" class="btn btn-default" id="insert-new">
                                <span class="glyphicon glyphicon-align-right hidden"></span>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Relationship
                            </button>
                        </div>
                    </div>

                    {% for relationship in form.relationships %}
                        <fieldset class="relationship">
                            <a href="#collapse-{{ loop.index0 }}" data-toggle="collapse">
                                <legend class="sub-legend" id="sublegend-{{ loop.index0 }}">
                                    New Relationship
                                </legend>
                            </a>
                            <div id="collapse-{{ loop.index0 }}" class="collapse in relationship-section">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="related_to">Has a relationship with</label>
                                        {{ relationship.related_to(class = 'form-control related_to', default = relationship.related_to.data) }}
                                    </div>
                                    <div class="col-md-5">
                                        <label for="relationship_type">Relationship Type</label>
                                        {{ relationship.relationship_type(class = 'form-control', placeholder = 'Enter one or two words') }}
                                    </div>

                                    <div class="col-md-2">
                                        <label for="relationship_bidirectional">Relationship Is</label>
                                        {{ relationship.bidirectional(class = 'form-control bidirectional',**{'data-toggle':'toggle',
                                                                        'data-off':'Secret',
                                                                        'data-on':'Shared',
                                                                        'data-onstyle':'success',
                                                                        'data-offstyle':'danger'}) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="relationship_description">Relationship Description</label>
                                        {{ relationship.relationship_description(class = 'form-control', placeholder = 'Describe the relationship') }}
                                    </div>
                                </div>

                                <div class="row bidirectional collapse" id="bidirectional-{{ loop.index0 }}">
                                    <div class="col-md-12">
                                        <fieldset class="bidirectional">
                                            <legend class="bidirectional" id="bidirectional-legend-{{ loop.index0 }}">
                                                Bidirectional Relationship
                                            </legend>
                                        </fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="other_relationship_">Relationship Type</label>
                                                {{ relationship.other_relationship_description(class = 'form-control', placeholder = 'Describe the relationship') }}
                                            </div>

                                            <div class="col-md-6">
                                                <label for="other_relationship_description">Relationship
                                                    Description</label>
                                                {{ relationship.other_relationship_description(class = 'form-control', placeholder = 'Describe the relationship') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}

                </fieldset>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Save Character" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>
    </form>
{% endblock %}