{% extends 'layouts/form.html' %}
{% block title %}New Character{% endblock %}
{% block content %}

  <form method="post" class="form">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h3 class="form-heading">Create New Character <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
      {% if form.name.errors %}
      <div class="alert alert-danger" role="alert">
  <span class="sr-only">Error:</span>
  {% for error in form.name.errors %}
          {{ error }}
  {% endfor %}
          </div>
      {% endif %}

    {{ form.short_description(class_ = 'form-control', placeholder = 'Enter a short description for this character', required = true) }}
      {{ form.description(class_ = 'form-control last-input', placeholder = 'Enter the full description for this character', required = true) }}

    <input type="submit" value="Create Character" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}